<!DOCTYPE html>
<head>
  <title>{% if page.title %}{{page.title}} /{% endif %} ericw.ca Eric Woroshow</title>

  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name='description' content='The site and blog of Eric Woroshow' />
  <meta name='author' content='Eric Woroshow' />

  <link rel='stylesheet' type='text/css' media='all' href='/css/reset.css' />
  <link rel='stylesheet' type='text/css' media='all' href='/css/screen.css' />
  <link rel='stylesheet' type='text/css' media='all' href='/css/code.css' />

  <link rel='alternate' type='application/atom+xml' href='/atom.xml'/>
</head>
<body>
  <div id='header'>
    <h1><a href='/'>eric<span class='highlight'>w</span>.</a></h1>
  </div>
  <div id='container'>
    {{content}}
    <p id='footer'>
      ericw.ca / Content &copy; 2009-{{site.time|date:"%Y"}} Eric Woroshow. All rights reserved.
      <br/>Code under <a href='/license.html'>MIT license</a> unless otherwise noted.
    </p>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26512303-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
